.heading
{
    font-size: 26px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 18px;
    color: black;
}

body
{
    background-size: cover;
   
}

#song_name
{
    width: 130px;
    font-size: 20px;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
}

.h3-heading
{
    width: 200px;
    font-size: 30px;

}